@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500&display=swap');

* {

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

*,
*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 500;
  letter-spacing: 0.2px;

}


blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre,
fieldset,
ul,
ol,
menu,
form {
  margin: 0;
}

button,
fieldset,
iframe {
  border: 0;
}

fieldset,
ul,
ol,
button,
menu {
  padding: 0;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a,
a:focus,
button,
button:focus {
  outline: none !important;
  text-decoration: none;
}

a,
button {
  user-select: none;
  transition: all .3s ease-in-out;
}

button {
  cursor: pointer;
  background: none;
  box-shadow: none;
  border: none;
}

img {
  max-width: 100%;
}

section {
  padding: 80px 0;
}

label {
  margin-bottom: 0;
}


.custom-container {
  position: relative;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  z-index: 99;
  &.product{
    @media (max-width: 600px) {
      overflow: hidden;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.custom-switch {
  @media (max-width: 600px) {
    display: none;
  }
}

.dark {
  background-color: black;
  color: white;

  .header {
    background-color: black;
  }

  .movie-item__name {
    color: white;
  }

  .movie-create__form {
    input[type=text] {
      border: 1px solid #fdfdfd26;
      background-color: transparent;
    }
  }
  .search-result{
    background-color: black !important;
    border-color: #131212 !important;
  }
}

.back-info {
  position: absolute;
  right: 0;
  left: 0;
  background-color: white;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transform: scale(1.2);
  bottom: 46px;
  opacity: 0;
  transform: translateY(50px);
  transition: all .4s ease-in;
  cursor: pointer;
  z-index: 9;
}

.activeTrailer {
  .movie-detail__wrp {
    opacity: 0;
    transform: translateY(200px);
    padding-top: 0;
  }

  .back-info {
    opacity: 0.7;
    transform: none;
  }

  .movie-detail__backdrop {
    @media (max-width: 600px) {
      z-index: 1;
    }
    &:after {
      background-color: transparent;
      @media (max-width: 600px) {
        display: none;
      }
    }
    
  }
}

.status-message{
  position: absolute;
  bottom: 5px;
  right: 0;
  left: 0;
  color: #95cc26;
  font-weight: 600;
  font-size: 17px;
  width: max-content;
  margin: 0 auto;
  &.yellow{
    color:#ea8835;
  }
}

.load-skeleton-detail{
  position: absolute;
  left: -4%;
  transform: translateY(-40%);
  @media (max-width: 650px) {
    top: -68px;
    position: absolute;
    left: 0;
    transform: none;
    overflow: hidden;
  }
}

.search-overlay{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #000000e0;
  top: 80px;
  z-index: 9999;
  opacity: 0;
  transition: all .2s 0.2s ease;
  pointer-events: none;
  &.active{
    opacity: 1;
    pointer-events: all;
  }
}